*.o
*.swp
*.cfg*
*.out
*.e1cap
*.pcap
src/osmo-e1-recorder
src/osmo-e1cap-dump
src/hdlc-test
Makefile.in
Makefile

.version
.tarball-version
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
m4
.deps
stamp-h1
